#define IDR_VERSION1 1
#define CongressIcon 2

IDR_VERSION1 VERSIONINFO
FILEVERSION 1,1,0,5
PRODUCTVERSION 1,1,0,5
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"
    BEGIN
      VALUE "FileVersion", "1.1.0.5\0"
      VALUE "ProductVersion", "1.1.0.5\0"
      VALUE "FileDescription", "The Houses of Congress\0"
      VALUE "InternalName", "Congress\0"
      VALUE "LegalCopyright", "© Nick Lauber, under the GPL 2.0 license\0"
      VALUE "OriginalFilename", "Congress.exe\0"
      VALUE "ProductName", "The Houses of Congress\0"
      VALUE "CompanyName", "Nick Lauber\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x0000
  END
END

CongressIcon ICON DISCARDABLE "Congress.ico"

